:root {
    --primary-color: #1E1E1E;
    --secondary-color: #E4E4E4;
    --tertiary-color: #7e7e7e;
    --accent-color: #D5FD02;
    --font-family-primary: 'Tektur condensed';
    --font-family-secondary: 'Fira Mono', monospace;
    --h2-size: 7.5rem;
    /*150px*/
    --h3-size: 4rem;
    /*48px*/
    --h4-size: 1.5rem;
    /*32px*/
    --h5-size: 4.5rem;
    /*72px*/
    --paragraf-size: 1rem;
    /*16px*/
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid pink; */
}

body {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;

    @media screen and (max-width:1080px) {
        margin: 16px 32px;
    }
}

main {
    width: 900px;
    margin-top: 24px;

    @media screen and (max-width:1080px) {
        width: 100%;
    }
}

section {
    padding: 40px 40px;

}

h2 {
    line-height: 0.8;
    color: var(--secondary-color);
    font-family: var(--font-family-primary);
    font-size: var(--h2-size);
    font-weight: 900;
}

h3 {
    color: var(--primary-color);
    font-family: var(--font-family-primary);
    font-size: var(--h3-size);
    font-weight: 900;
}

p {
    color: var(--secondary-color);
    font-family: var(--font-family-secondary);
    font-size: var(--paragraf-size)
}

header {
    list-style: none;
    font-family: var(--font-family-primary);
    font-size: var(--h4-size);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--tertiary-color);
    padding: 8px 40px;
}

nav {

    a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    a:hover {
        color: var(--accent-color);
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        width: 500px;
    }

    @media screen and (max-width:1080px) {
        display: none;
    }
}

.pedagogic {
    border: 2px solid var(--tertiary-color);
    margin-top: 16px;

    h2 {
        @media screen and (max-width:1080px) {
            font-size: var(--h5-size)
        }
    }

    .pedagogic-caption{
        margin-top: 8px;
    }
}


.title-codepen {
    font-weight: 500;
    font-size: 32px;
    margin-top: 32px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid var(--tertiary-color);

    .contact-info{
        font-family: var(--font-family-secondary);
        font-size: var(--paragraf-size);
        color: var(--secondary-color);
      
        li {
            list-style: none;
            display: flex;
            gap: 8px;
            margin-bottom: 16px;
            
            img{
                max-width: 24px;
            }
        }
    }

    .networking-container{
        font-family: var(--font-family-secondary);
        font-size: var(--paragraf-size);
        color: var(--secondary-color);
        text-align: right;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 16px;
            margin-bottom: 16px;
            margin-top: 16px;

            img{
                max-width: 24px;
            }

            svg{
                
                &:hover{
                    path{
                        fill: var(--accent-color);
                    }
                    transform: scale(1.1);
                }
            }
        }
    }
}